
<% layout('layouts/boilerplate') %>
<div id="cluster-map" style="height: 500px;width: 100%">

</div>
<h1>All Campgrounds</h1>
<div>
    <a href="/campgrounds/new">Add New Campground</a>
</div>
<ul>
    <% for(let c of campgrounds){%>
        <div class="card mb-3 mt-2"> 
            <div class="row">
                <div class="col-md-4">
                    <% if(c.images.length){ %>
                        <img style="width: 366.4px; height: 250px;" crossorigin="anonymous" class="img-fluid" alt="" src="<%= c.images[0].url %>" style="height:250px;">
                    <% }else{%>
                        <img style="width: 366.4px; height: 250px;" crossorigin="anonymous" class="img-fluid" alt="" src="https://res.cloudinary.com/dqxxiowce/image/upload/v1726679031/YelpCamp/rflvlexscqb51z25hkwb.jpg" width="1000px">
                    <% } %>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title"><%= c.title %></h5>
                        <p class="card-text"><%= c.description %></p>
                        <p class="card-text">
                            <small class="muted-text"><%= c.location %></small>
                        </p>
                        <a class="btn btn-primary" href="/campgrounds/<%= c.id %>">View</a>
                    </div>
                </div>
            </div>
        </div>
    <%}%>
</ul>

<script>
    const maptilerApiKey = '<%- process.env.MAPTILER_API_KEY %>';
    const campgrounds = {features: <%- JSON.stringify(campgrounds) %>}
</script>

<script src="/javascripts/clusterMap.js"></script>
    
